<!-- live reload -->
script(src='//localhost:35729/livereload.js')

<!-- govuk template -->
script(src='govuk/javascripts/govuk-template.js')
script(src='govuk/javascripts/vendor/jquery-1.11.0.min.js')

<!-- polyfills -->
script(src='govuk/javascripts/vendor/bind.polyfill.js')
script(src='govuk/javascripts/vendor/details.polyfill.js')

<!-- govuk scripts-->
script(src='govuk/javascripts/selection-buttons.js')
script(src='govuk/javascripts/application.js')

<!-- application scripts -->
script(src='scripts/main.js')