doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    block title
  body
    block content
    
    script(src="//localhost:35729/livereload.js")
    
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")